.Sidebar{
    background-color: #091351;
    display: flex;
    position: fixed;
    width: 40px;
    height: 100%;
    top: 0;
}
.SidebarList{
    height: 100%;
    padding: 0;
    width: 100%;
    padding-top: 70px;
  }
  .SidebarList .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .SidebarList .row:hover{
    cursor: pointer;
    background-color: rgb(79, 79, 139);
  }
  .row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
  }
